<div class="flex items-center gap-2 bg-white w-fit p-3 rounded-full mb-5 cursor-pointer" routerLink="/apps/settings/Questions">
    <i class="fa-solid fa-arrow-right-from-bracket rotate-y-180"></i>
    <span>Back To Questions</span>
</div>

<div class="question-data bg-white">
    <div class="table-responsive">
        <table>
            <thead>
                <tr>
                    <th>SubCategroy</th>
                    <th>Question Type</th>
                    <th>Question</th>
                    <th>options</th>
                    <th>Explanation</th>
                    <th>Description</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ questionDetails().subCategory || 'Unknown'}}</td>
                    <td>{{ questionDetails().questionType || 'Unknown' }}</td>
                    <td>{{ questionDetails().questionText }}</td>
                    <td>
                        <ul>
                            @for(option of questionDetails().options; track $index){
                                <li>{{option.optionText}} - {{option.isCorrect}}</li>
                            }
                        </ul>
                    </td>
                    <td>{{ questionDetails().explanation }}</td>
                    <td>{{ questionDetails().description }}</td>
                    <td>
                        <div class="flex justify-center items-center gap-2">
                            <i class="fa-solid fa-pen-to-square text-[16px] cursor-pointer"></i>
                            <button (click)="deleteQuestion(questionDetails().id)" type="button" ngxTippy package-tippy-content="Delete">
                                <icon-trash-lines class="m-auto" />
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
