<section class="bg-white p-4">
    <h1 class="text-[30px] font-extrabold">Add New Categories</h1>
    <div class="package-form my-5">
        <form class="space-y-5" [formGroup]="categoryForm" (ngSubmit)="submitCategories()">

            <div class="lg:flex gap-3">
                <div class="w-full">
                    <select class="border border-1 p-3 rounded-lg w-full" name="package" id="package" (change)="selectCourse($event)">
                        <option selected disabled>Choose A Course</option>
                        @for(package of allCourses(); track $index){
                            <option [value]="package.id">{{package.subTitle}}</option>
                        }
                    </select>
                    <span class="mt-1 inline-block text-[11px] text-white-dark">Select Course To Course</span>
                </div>
                <div class="w-full">
                    <input formControlName="title" type="text" placeholder="Enter Category Title" class="form-input" />
                    <span class="mt-1 inline-block text-[11px] text-white-dark">The Category title is very important for users</span>
                </div>
                <div class="w-full">
                    <input formControlName="subTitle" type="text" placeholder="Enter Category SubTitle" class="form-input" />
                    <span class="mt-1 inline-block text-[11px] text-white-dark">The subtitle gives a brief idea of the title</span>
                </div>
            </div>

            <div>
                <textarea formControlName="description" placeholder="Enter Category Description" class="form-input"></textarea>
                <span class="mt-1 inline-block text-[11px] text-white-dark">This description helps users understand what's included in the package</span>
            </div>

            <div class="w-full">
                <div class="custom-file-container" data-upload-id="myFirstImage"></div>
            </div>
            <button type="submit" class="btn btn-primary text-center mx-auto">Submit</button>
        </form>
    </div>
    <div class="course-data">
        <div class="mb-5">
            <div class="table-responsive">
                <table c>
                    <thead>
                        <tr>
                            <th>Course</th>
                            <th>Title</th>
                            <th>SubTitle</th>
                            <th>Description</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(category of allCategories(); track $index){
                            <tr>
                                <td>{{ category.courseName}}</td>
                                <td>{{ category.title }}</td>
                                <td>{{ category.subTitle }}</td>
                                <td>{{ category.description }}</td>
                                <td>
                                    <div class="flex justify-center items-center gap-2">
                                        <i class="fa-solid fa-pen-to-square text-[16px] cursor-pointer"></i>
                                        <button (click)="deletePackage(category.id)" type="button" ngxTippy package-tippy-content="Delete">
                                            <icon-trash-lines class="m-auto" />
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
