<div>
    <ul class="flex space-x-2 rtl:space-x-reverse">
        <li>
            <a href="javascript:;" class="text-primary hover:underline">MATERIALS</a>
        </li>
        <li class="before:content-['/'] ltr:before:mr-2 rtl:before:ml-2">
            <span>FAR</span>
        </li>
    </ul>
    <div class="grid grid-cols-1 mt-[30px]">
        <div class="panel relative">
            <img src="assets/images/far-image/far-logo.png" class="w-[100px] absolute top-[-40px] start-0 drop-shadow-[0_5px_2px_#FBE6A7]" alt="far">
            <div class="mb-5 mt-[35px]">
                <div class="space-y-3 text-center sm:space-y-0 ltr:sm:text-left rtl:sm:text-right">
                    <div [routerLink]="['/f1']" routerLinkActive="router-link-active"  class="items-center sm:flex relative hover:bg-[#eee] dark:hover:bg-[#292e4f] transition-all duration-500 cursor-pointer rounded-md">
                        <div class="relative p-2.5 after:absolute after:-bottom-[15px] after:left-1/2 after:top-[25px] after:h-auto after:w-0 after:-translate-x-1/2 after:rounded-full after:border-l-2 after:border-white-dark/20 after:z-[1]">
                            <div class="w-[30px] h-[30px] flex justify-center items-center text-[#AD7226] bg-[#FBE6A7] rounded-tl-[10px] rounded-br-[10px]">
                                <i class="fa-solid fa-minus font-bold text-[16px]"></i>
                            </div>
                        </div>
                        <div class="flex justify-between w-100">
                            <p class="p-2.5 text-[13px] font-semibold text-[#8185a3]"><span class="text-[20px] font-bold text-[#004986] dark:text-[#a1c5e3]">F1</span> Financial Reporting</p>
                        </div>
                        <icon-arrow-backward class="h-6 w-6 absolute end-[10px]" />
                    </div>
                    <div class="items-center sm:flex relative hover:bg-[#eee] dark:hover:bg-[#292e4f] transition-all duration-500 cursor-pointer rounded-md">
                        <div class="relative p-2.5 after:absolute after:-bottom-[15px] after:left-1/2 after:top-[25px] after:h-auto after:w-0 after:-translate-x-1/2 after:rounded-full after:border-l-2 after:border-white-dark/20">
                            <div class="w-[30px] h-[30px] flex justify-center items-center bg-[#D9E4E6] rounded-tl-[10px] rounded-br-[10px]">
                                <!-- <i class="fa-solid fa-circle text-[10px]"></i> -->
                            </div>
                        </div>
                        <div class="flex justify-between w-100">
                            <p class="p-2.5 text-[13px] font-semibold text-[#686d8c]"><span class="text-[20px] font-bold text-[#004986] dark:text-[#a1c5e3]">F2</span> Financial Reporting And Disclosures</p>
                        </div>
                        <icon-arrow-backward class="h-6 w-6 absolute end-[10px]" />
                    </div>
                    <div class="items-center sm:flex relative hover:bg-[#eee] dark:hover:bg-[#292e4f] transition-all duration-500 cursor-pointer rounded-md">
                        <div class="relative p-2.5 after:absolute after:-bottom-[15px] after:left-1/2 after:top-[25px] after:h-auto after:w-0 after:-translate-x-1/2 after:rounded-full after:border-l-2 after:border-white-dark/20">
                            <div class="w-[30px] h-[30px] flex justify-center items-center bg-[#ACF0CB] rounded-tl-[10px] rounded-br-[10px]">
                                <i class="fa-solid fa-check text-[#008D73] text-[18px]"></i>
                            </div>
                        </div>
                        <div class="flex justify-between w-100">
                            <p class="p-2.5 text-[25px] font-bold text-[#004986] dark:text-[#a1c5e3]">Mini Exam 1</p>
                        </div>
                        <icon-arrow-backward class="h-6 w-6 absolute end-[10px]" />
                    </div>
                    <div class="items-center sm:flex relative hover:bg-[#eee] dark:hover:bg-[#292e4f] transition-all duration-500 cursor-pointer rounded-md">
                        <div class="relative p-2.5 after:absolute after:-bottom-[15px] after:left-1/2 after:top-[25px] after:h-auto after:w-0 after:-translate-x-1/2 after:rounded-full after:border-l-2 after:border-white-dark/20 after:z-[1]">
                            <div class="w-[30px] h-[30px] flex justify-center items-center text-[#AD7226] bg-[#FBE6A7] rounded-tl-[10px] rounded-br-[10px]">
                                <i class="fa-solid fa-minus font-bold text-[16px]"></i>
                            </div>
                        </div>
                        <div class="flex justify-between w-100">
                            <p class="p-2.5 text-[13px] font-semibold text-[#8185a3]"><span class="text-[20px] font-bold text-[#004986] dark:text-[#a1c5e3]">F3</span> Assets And Related Topics</p>
                        </div>
                        <icon-arrow-backward class="h-6 w-6 absolute end-[10px]" />
                    </div>
                    <div class="items-center sm:flex relative hover:bg-[#eee] dark:hover:bg-[#292e4f] transition-all duration-500 cursor-pointer rounded-md">
                        <div class="relative p-2.5 after:absolute after:-bottom-[15px] after:left-1/2 after:top-[25px] after:h-auto after:w-0 after:-translate-x-1/2 after:rounded-full after:border-l-2 after:border-white-dark/20">
                            <div class="w-[30px] h-[30px] flex justify-center items-center bg-[#D9E4E6] rounded-tl-[10px] rounded-br-[10px]">
                                <!-- <i class="fa-solid fa-circle text-[10px]"></i> -->
                            </div>
                        </div>
                        <div class="flex justify-between w-100">
                            <p class="p-2.5 text-[13px] font-semibold text-[#8185a3]"><span class="text-[20px] font-bold text-[#004986] dark:text-[#a1c5e3]">F4</span> Liabilities</p>
                        </div>
                        <icon-arrow-backward class="h-6 w-6 absolute end-[10px]" />
                    </div>
                    <div class="items-center sm:flex relative hover:bg-[#eee] dark:hover:bg-[#292e4f] transition-all duration-500 cursor-pointer rounded-md">
                        <div class="relative p-2.5 after:absolute after:-bottom-[15px] after:left-1/2 after:top-[25px] after:h-auto after:w-0 after:-translate-x-1/2 after:rounded-full after:border-l-2 after:border-white-dark/20">
                            <div class="w-[30px] h-[30px] flex justify-center items-center bg-[#ACF0CB] rounded-tl-[10px] rounded-br-[10px]">
                                <i class="fa-solid fa-check text-[#008D73] text-[18px]"></i>
                            </div>
                        </div>
                        <div class="flex justify-between w-100">
                            <p class="p-2.5 text-[25px] font-bold text-[#004986] dark:text-[#a1c5e3]">Mini Exam 2</p>
                        </div>
                        <icon-arrow-backward class="h-6 w-6 absolute end-[10px]" />
                    </div>
                    <div class="items-center sm:flex relative hover:bg-[#eee] dark:hover:bg-[#292e4f] transition-all duration-500 cursor-pointer rounded-md">
                        <div class="relative p-2.5 after:absolute after:-bottom-[15px] after:left-1/2 after:top-[25px] after:h-auto after:w-0 after:-translate-x-1/2 after:rounded-full after:border-l-2 after:border-white-dark/20">
                            <div class="w-[30px] h-[30px] flex justify-center items-center bg-[#D9E4E6] rounded-tl-[10px] rounded-br-[10px]">
                                <!-- <i class="fa-solid fa-circle text-[10px]"></i> -->
                            </div>
                        </div>
                        <div class="flex justify-between w-100">
                            <p class="p-2.5 text-[13px] font-semibold text-[#8185a3]"><span class="text-[20px] font-bold text-[#004986] dark:text-[#a1c5e3]">F5</span> Investments, Statement of Cash Flows, and Income Taxes</p>
                        </div>
                        <icon-arrow-backward class="h-6 w-6 absolute end-[10px]" />
                    </div>
                    <div class="items-center sm:flex relative hover:bg-[#eee] dark:hover:bg-[#292e4f] transition-all duration-500 cursor-pointer rounded-md">
                        <div class="relative p-2.5 after:absolute after:-bottom-[15px] after:left-1/2 after:top-[25px] after:h-auto after:w-0 after:-translate-x-1/2 after:rounded-full after:border-l-2 after:border-white-dark/20">
                            <div class="w-[30px] h-[30px] flex justify-center items-center bg-[#D9E4E6] rounded-tl-[10px] rounded-br-[10px]">
                                <!-- <i class="fa-solid fa-circle text-[10px]"></i> -->
                            </div>
                        </div>
                        <div class="flex justify-between w-100">
                            <p class="p-2.5 text-[13px] font-semibold text-[#8185a3]"><span class="text-[20px] font-bold text-[#004986] dark:text-[#a1c5e3]">F6</span> NFP Accounting and Governmental Accounting</p>
                        </div>
                        <icon-arrow-backward class="h-6 w-6 absolute end-[10px]" />
                    </div>
                    <div class="items-center sm:flex relative hover:bg-[#eee] dark:hover:bg-[#292e4f] transition-all duration-500 cursor-pointer rounded-md">
                        <div class="relative p-2.5 after:absolute after:-bottom-[15px] after:left-1/2 after:top-[25px] after:h-auto after:w-0 after:-translate-x-1/2 after:rounded-full after:border-l-2 after:border-white-dark/20">
                            <div class="w-[30px] h-[30px] flex justify-center items-center bg-[#D9E4E6] rounded-tl-[10px] rounded-br-[10px]">
                                <!-- <i class="fa-solid fa-check text-[#008D73] text-[18px]"></i> -->
                            </div>
                        </div>
                        <div class="flex justify-between w-100">
                            <p class="p-2.5 text-[25px] font-bold text-[#004986] dark:text-[#a1c5e3]">Mini Exam 3</p>
                        </div>
                        <icon-arrow-backward class="h-6 w-6 absolute end-[10px]" />
                    </div>
                    <div class="items-center sm:flex relative hover:bg-[#eee] dark:hover:bg-[#292e4f] transition-all duration-500 cursor-pointer rounded-md">
                        <div class="relative p-2.5 after:absolute after:-bottom-[15px] after:left-1/2 after:top-[25px] after:h-auto after:w-0 after:-translate-x-1/2 after:rounded-full after:border-l-2 after:border-white-dark/20">
                            <div class="w-[30px] h-[30px] flex justify-center items-center bg-[#ACF0CB] rounded-tl-[10px] rounded-br-[10px]">
                                <i class="fa-solid fa-check text-[#008D73] text-[18px]"></i>
                            </div>
                        </div>
                        <div class="flex justify-between w-100">
                            <p class="p-2.5 text-[25px] font-bold text-[#004986] dark:text-[#a1c5e3]">Simulated Exam 1</p>
                        </div>
                        <icon-arrow-backward class="h-6 w-6 absolute end-[10px]" />
                    </div>
                    <div class="items-center sm:flex relative hover:bg-[#eee] dark:hover:bg-[#292e4f] transition-all duration-500 cursor-pointer rounded-md">
                        <div class="relative p-2.5 after:absolute after:-bottom-[15px] after:left-1/2 after:top-[25px] after:h-auto after:w-0 after:-translate-x-1/2 after:rounded-full after:border-l-2 after:border-white-dark/20">
                            <div class="w-[30px] h-[30px] flex justify-center items-center bg-[#ACF0CB] rounded-tl-[10px] rounded-br-[10px]">
                                <i class="fa-solid fa-check text-[#008D73] text-[18px]"></i>
                            </div>
                        </div>
                        <div class="flex justify-between w-100">
                            <p class="p-2.5 text-[25px] font-bold text-[#004986] dark:text-[#a1c5e3]">Simulated Exam 2</p>
                        </div>
                        <icon-arrow-backward class="h-6 w-6 absolute end-[10px]" />
                    </div>
                </div>
            </div>
            <ng-container *ngIf="codeArr.includes('code4')">
                <pre>
                    <code highlightAuto="&lt;!-- images --&gt;
&lt;div class=&quot;max-w-[900px] mx-auto text-center ltr:sm:text-left rtl:sm:text-right space-y-3 sm:space-y-0&quot;&gt;
  &lt;div class=&quot;sm:flex items-center&quot;&gt;
    &lt;p class=&quot;text-[#3b3f5c] dark:text-white-light text-base font-semibold p-2.5&quot;&gt;09:00&lt;/p&gt;
    &lt;div
      class=&quot;
        p-2.5
        relative
        after:absolute after:left-1/2 after:-translate-x-1/2 after:top-[25px] after:-bottom-[15px] after:w-0 after:h-auto after:border-l-2 after:border-white-dark/20 after:rounded-full
      &quot;
    &gt;
      &lt;img src=&quot;/assets/images/profile-16.jpeg&quot; alt=&quot;&quot; class=&quot;w-11 h-11 rounded-full relative z-[1] mx-auto&quot; /&gt;
    &lt;/div&gt;
    &lt;p class=&quot;text-white-dark text-xs font-bold self-center sm:min-w-[100px] sm:max-w-[100px] p-2.5 mt-5 sm:mt-0&quot;&gt;25 mins ago&lt;/p&gt;
    &lt;p class=&quot;text-[#3b3f5c] dark:text-white-light font-semibold text-[13px] p-2.5&quot;&gt;Conference call with Marketing Manager.&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class=&quot;sm:flex items-center&quot;&gt;
    &lt;p class=&quot;text-[#3b3f5c] dark:text-white-light text-base font-semibold p-2.5&quot;&gt;10:00&lt;/p&gt;
    &lt;div
      class=&quot;
        p-2.5
        relative
        after:absolute after:left-1/2 after:-translate-x-1/2 after:top-[25px] after:-bottom-[15px] after:w-0 after:h-auto after:border-l-2 after:border-white-dark/20 after:rounded-full
      &quot;
    &gt;
      &lt;img src=&quot;/assets/images/profile-1.jpeg&quot; alt=&quot;&quot; class=&quot;w-11 h-11 rounded-full relative z-[1] mx-auto&quot; /&gt;
    &lt;/div&gt;
    &lt;p class=&quot;text-white-dark text-xs font-bold self-center sm:min-w-[100px] sm:max-w-[100px] p-2.5 mt-5 sm:mt-0&quot;&gt;2 hrs ago&lt;/p&gt;
    &lt;p class=&quot;text-[#3b3f5c] dark:text-white-light font-semibold text-[13px] p-2.5&quot;&gt;Server rebooted successfully&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class=&quot;sm:flex items-center&quot;&gt;
    &lt;p class=&quot;text-[#3b3f5c] dark:text-white-light text-base font-semibold p-2.5&quot;&gt;11:00&lt;/p&gt;
    &lt;div
      class=&quot;
        p-2.5
        relative
        after:absolute after:left-1/2 after:-translate-x-1/2 after:top-[25px] after:-bottom-[15px] after:w-0 after:h-auto after:border-l-2 after:border-white-dark/20 after:rounded-full
      &quot;
    &gt;
      &lt;img src=&quot;/assets/images/profile-2.jpeg&quot; alt=&quot;&quot; class=&quot;w-11 h-11 rounded-full relative z-[1] mx-auto&quot; /&gt;
    &lt;/div&gt;
    &lt;p class=&quot;text-white-dark text-xs font-bold self-center sm:min-w-[100px] sm:max-w-[100px] p-2.5 mt-5 sm:mt-0&quot;&gt;4 hrs ago&lt;/p&gt;
    &lt;p class=&quot;text-[#3b3f5c] dark:text-white-light font-semibold text-[13px] p-2.5&quot;&gt;Backup Files EOD&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class=&quot;sm:flex items-center&quot;&gt;
    &lt;p class=&quot;text-[#3b3f5c] dark:text-white-light text-base font-semibold p-2.5&quot;&gt;12:00&lt;/p&gt;
    &lt;div
      class=&quot;
        p-2.5
        relative
        after:absolute after:left-1/2 after:-translate-x-1/2 after:top-[25px] after:-bottom-[15px] after:w-0 after:h-auto after:border-l-2 after:border-white-dark/20 after:rounded-full
      &quot;
    &gt;
      &lt;img src=&quot;/assets/images/profile-3.jpeg&quot; alt=&quot;&quot; class=&quot;w-11 h-11 rounded-full relative z-[1] mx-auto&quot; /&gt;
    &lt;/div&gt;
    &lt;p class=&quot;text-white-dark text-xs font-bold self-center sm:min-w-[100px] sm:max-w-[100px] p-2.5 mt-5 sm:mt-0&quot;&gt;6 hrs ago&lt;/p&gt;
    &lt;p class=&quot;text-[#3b3f5c] dark:text-white-light font-semibold text-[13px] p-2.5&quot;&gt;Collected documents from Sara&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class=&quot;sm:flex items-center&quot;&gt;
    &lt;p class=&quot;text-[#3b3f5c] dark:text-white-light text-base font-semibold p-2.5&quot;&gt;01:00&lt;/p&gt;
    &lt;div class=&quot;p-2.5 relative&quot;&gt;
      &lt;img src=&quot;/assets/images/profile-4.jpeg&quot; alt=&quot;&quot; class=&quot;w-11 h-11 rounded-full relative z-[1] mx-auto&quot; /&gt;
    &lt;/div&gt;
    &lt;p class=&quot;text-white-dark text-xs font-bold self-center sm:min-w-[100px] sm:max-w-[100px] p-2.5 mt-5 sm:mt-0&quot;&gt;9 hrs ago&lt;/p&gt;
    &lt;p class=&quot;text-[#3b3f5c] dark:text-white-light font-semibold text-[13px] p-2.5&quot;&gt;PDF file Download&lt;/p&gt;
  &lt;/div&gt;
                    &lt;/div&gt;"></code>
                </pre>
            </ng-container>
        </div>
    </div>
</div>

