<section>
    <div class="grid lg:grid-cols-4 md:grid-col-2 grid-cols-1 gap-3">
        <div [routerLink]="['/apps/settings/setting-packages']" routerLinkActive="router-link-active"  class="w-[150px] h-[150px] flex items-center justify-center rounded-full cursor-pointer bg-sky-300">
            <h4 class="text-[20px]">Packages</h4>
        </div>
        <div [routerLink]="['/apps/settings/coures']" routerLinkActive="router-link-active"  class="w-[150px] h-[150px] flex items-center justify-center rounded-full cursor-pointer bg-sky-300">
            <h4 class="text-[20px]">Coureses</h4>
        </div>
        <div [routerLink]="['/apps/settings/category']" routerLinkActive="router-link-active"  class="w-[150px] h-[150px] flex items-center justify-center rounded-full cursor-pointer bg-red-300">
            <h4 class="text-[20px]">Category</h4>
        </div>
        <div [routerLink]="['/apps/settings/subcategory']" routerLinkActive="router-link-active"  class="w-[150px] h-[150px] flex items-center justify-center rounded-full cursor-pointer bg-green-300">
            <h4 class="text-[20px]">SubCategory</h4>
        </div>
        <div [routerLink]="['/apps/settings/Questions']" routerLinkActive="router-link-active"  class="w-[150px] h-[150px] flex items-center justify-center rounded-full cursor-pointer bg-yellow-300">
            <h4 class="text-[20px]">Questions</h4>
        </div>
        <!-- <div class="w-[150px] h-[150px] flex items-center justify-center rounded-full bg-sky-200">
            <h4>Coureses</h4>
        </div>
        <div class="w-[150px] h-[150px] flex items-center justify-center rounded-full bg-sky-200">
            <h4>Coureses</h4>
        </div> -->
    </div>
</section>
